<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sitemap>
            <storyblok>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </storyblok>
        </sitemap>
        <MediaLounge_Storyblok>
            <general>
                <image_host>a-us.storyblok.com</image_host>
                <api_path>https://api-us.storyblok.com/v2/cdn</api_path>
                <timeout>10</timeout>
                <log_level>error</log_level>
            </general>
        </MediaLounge_Storyblok>
    </default>
</config>
